---
layout: default
title: Home
---
<!-- ========== BIO ========== -->
<div class="docs-section" id="bio">
  <h4>Bio</h4>


  <!-- <p>Hello! I am a Ph.D. student in Electrical and Computer Engineering at <a href="https://nus.edu.sg"
      target="_blank">National University of Singapore</a>, currently interning at <a
      href="https://www.a-star.edu.sg/i2r">A*STAR Institute for Infocomm
      Research (A*STAR I2R), Singapore</a>, and specializing in knowledge editing and AI interpretability
    for large language models. Previously, I have worked on UAV networks, IoT systems and computer vision.</p> -->
  <p>Hello! I am a Ph.D. student in Electrical and Computer Engineering at <a href="https://nus.edu.sg"
      target="_blank">National University of Singapore</a>, currently specializing in knowledge editing and AI
    interpretability for large language models. Previously, I have worked on UAV networks, IoT systems and computer
    vision.</p>
  <p>I graduated from <a href="https://www.bits-pilani.ac.in" target="_blank">Birla Institute of Technology and Science,
      Pilani, India</a> with B.E. in Electrical and Electronics. Previously, I've had the privilege of working at <a
      href="https://www.microsoft.com/en-in/" target="_blank">Microsoft</a> and <a href="https://flipkart.com"
      target="_blank">Flipkart</a>. During my time at BITS Pilani, I interned at <a href="https://www.sunmobility.com"
      target="_blank">Sun Mobility</a> and <a href="https://draup.com" target="_blank">Draup</a>.</p>

  <!-- <p>
  My research develops tools for analyzing <b>large-scale social data</b>, aiming to provide a better understanding of <b>social structure and behaviors</b> online while also impacting the <b>design of digital social systems</b>. 
  My recent work has focused on social media algorithms
  [<a href="assets/publications/2024_feedwizard/paper.pdf" target="_blank">ArXiv'24</a>,
  <a href="assets/publications/2023_embedding_societal_values/paper.pdf" target="_blank">JOTS'23</a>],
  reducing political polarization online 
  [<a href="assets/publications/2022_newsbridge/paper.pdf" target="_blank">ICWSM'22a</a>,
  <a href="assets/publications/2022_flipfeed/paper.pdf" target="_blank">ICWSM'22b</a>,
  <a href="assets/publications/2021_balanced_inf_max/paper.pdf" target="_blank">WSDM'21</a>,
  <a href="assets/publications/2018_social_mirror/paper.pdf" target="_blank">WWW'18</a>],
  improving the health of online conversations 
  [<a href="assets/publications/2021_dtox/paper.pdf" target="_blank">WWW'21</a>, 
  <a href="assets/publications/2021_social_catalysts/paper.pdf" target="_blank">CSCW'21</a>], 
  and causal inference in social systems 
  [<a href="assets/publications/2024_ope_lipschitz/paper.pdf" target="_blank">ICML'24</a>,
  <a href="assets/publications/2023_peer_review/paper.pdf" target="_blank">NeurIPS'23</a>,
  <a href="assets/publications/2017_detecting_network_effects/paper.pdf" target="_blank">KDD'17</a>,
  <a href="assets/publications/2019_biometrika/paper.pdf" target="_blank">Biometrika'19</a>]. 
  My research often falls at the intersections of Social Networks, Machine Learning, and Causal Inference.
  </p> -->

  <!-- <p>
  I'm an Assistant Professor in the Information School at the University of Washington.
  Before joining UW, I was a Postdoc at Stanford University, mentored by <a href="https://web.stanford.edu/~jugander/" target="_blank">Johan Ugander</a>.
  I received my Ph.D. from MIT in 2020 under the supervision of Deb Roy. 
  Prior to coming to MIT, I spent one year in Paris and one year in Barcelona doing a M.Sc. in Data mining and Knowledge Management. 
  I got my B.Sc. from Staffordshire University with First Class honors in Computer Science. 
  Throughout my graduate studies, I spent several summers doing internships in industry, including Yahoo! Labs, Amazon, LinkedIn, and Facebook.
  </p>  -->
</div>

<!-- ========== NEWS ========== -->
<div class="news-section" id="news">
  <h4>News</h4>
  <ul>
    <li>
      <span class="date">[Jan 2026]</span>
      <span><a href="https://arxiv.org/pdf/2506.01386" target="_blank">ThinkEval</a> has been accepted to
        <b>Transactions on Machine Learning Research (TMLR)</b>!</span>
    </li>
    <li>
      <span class="date">[Jan 2026]</span>
      <span><a
          href="https://d197for5662m48.cloudfront.net/documents/publicationstatus/286768/preprint_pdf/3e99ce4b8787147379cd01a12dafdd74.pdf"
          target="_blank">Arcane</a> has been accepted to <b>IEEE Transactions on Network and Service
          Management</b>!</span>
    </li>
    <!-- <li>
      <span class="date">[Jan 2026]</span>
      <span> I have joined A*STAR Institute for Infocomm Research (A*STAR I2R), Singapore as a Research Intern!</span>
    </li>
    <li>
      <span class="date">[Jan 2026]</span>
      <span>Preprint of <a
          href="https://d197for5662m48.cloudfront.net/documents/publicationstatus/286768/preprint_pdf/3e99ce4b8787147379cd01a12dafdd74.pdf"
          target="_blank">CLaRE</a> is now available on arXiv.</span>
    </li> -->

    <li>
      <span class="date">[Jun 2025]</span>
      <span>Preprint of <a href="https://arxiv.org/pdf/2506.17279" target="_blank">Sleek</a> is now available on
        arXiv.</span>
    </li>
    <li>
      <span class="date">[Aug 2024]</span>
      <span><a href="https://ieeexplore.ieee.org/abstract/document/10643985" target="_blank">Our three-tier contact
          tracing model paper</a> has been accepted to <b>IEEE Internet of Things Magazine</b>!</span>
    </li>
    <li>
      <span class="date">[Jul 2024]</span>
      <span><a href="https://ieeexplore.ieee.org/abstract/document/10757674" target="_blank">MEC-Hopper</a> has been
        accepted to <b>2024 IEEE 100th Vehicular Technology Conference</b>!</span>
    </li>
    <li>
      <span class="date">[Jan 2024]</span>
      <span>I've joined NUS as a Ph.D. student!</span>
    </li>
  </ul>
</div>

<!--
<div class="docs-section" id="prospective-students">  
  <h4>Prospective Students</h4>
  <p>
  <span style="display: inline-block; margin-bottom: 5px">
    <b>I'm recruiting PhD students to start Fall 2025 at the University of Washington!</b> 
  </span>
  <br/> 
  <span style="display: inline-block; margin-bottom: 5px">
    I'm looking for students passionate about developing new <u>social media algorithms</u>, both broadly and within the scope of this <a href="https://www.nsf.gov/awardsearch/showAward?AWD_ID=2403434" target="_blank">NSF grant</a> (collaboration with Stanford and Northwestern). For other examples, please see my recent publications. <br/>
  </span>
  <span style="display: inline-block; margin-bottom: 5px">
    Students with strong technical skills and background or interest in social network analysis, machine learning, causal inference, or natural language processing would be a great fit.
  </span>
  <br/>
  <span style="display: inline-block; margin-bottom: 5px">
    If you are interested, please apply to the UW iSchool <a href="https://ischool.uw.edu/programs/phd/admissions" target="_blank">PhD program</a> and mention me in your application.
  </span>
  <br/>
  <span>
    If you have any questions, feel free to reach out.
  </span>
  </p> 
</div>
-->


<!-- ========== TEACHING ========== -->
<div class="news-section" id="teaching">
  <h4>Teaching</h4>
  <span style="font-size: 1.3em;">National University of Singapore</span></br></br>
  <ul>
    <li>
      <span class="date">Fall 2025</span>
      <span><strong>EE4204</strong> Computer Networks</br><strong>EE4211</strong> Data Science for the Internet of
        Things</span>
    </li>
    <li>
      <span class="date">Spring 2025</span>
      <span><strong>EE4204</strong> Computer Networks</br><strong>EE5311</strong> Differentiable and Probabilistic
        Computing</br><strong>EE5021</strong> Cloud based Services for Internet of Things</span>
    </li>
    <li>
      <span class="date">Fall 2025</span>
      <span><strong>EE4204</strong> Computer Networks</br><strong>EE4211</strong> Data Science for the Internet of
        Things</span>
    </li>
  </ul>
</div>

<!-- ========== PROJECTS ========== 
<div class="docs-section" id="projects">
  <h4>Projects</h4>

  <ul class="tab-nav">
    <li><div class="button active" data-ref="#projects-selected">Selected</div></li>
    <li><div class="button" data-ref="#projects-all">All</div></li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane active" id="projects-selected">
      {% assign selected_projects = site.data.projects.projects | where: "selected", "y" %}
      {% for project in selected_projects %}
        {% assign index_modulo = forloop.index0 | modulo:3 %}
        {% if index_modulo == 0 %}
          <div class="row">
        {% endif %}

          <div class="four columns">
            <div class="project-container">

                <div class="project-image-container">
                  <a href="{{ project.url }}">
                    <img src="{{ project.thumbnail }}" class="u-max-full-width" />
                  </a>
                </div>

                <div class="project-caption">
                  <b>{{ project.title }}</b> <br/>
                  {{ project.subtitle }}
                </div>

            </div>
          </div>

        {% if index_modulo == 2 %}
          </div>
        {% endif %}
      {% endfor %}
    </div>

    <div class="tab-pane" id="projects-all">
      {% for project in site.data.projects.projects %}
        {% assign index_modulo = forloop.index0 | modulo:3 %}
        {% if index_modulo == 0 %}
          <div class="row">
        {% endif %}

          <div class="four columns">
            <div class="project-container">

                <div class="project-image-container">
                  <a href="{{ project.url }}">
                    <img src="{{ project.thumbnail }}" class="u-max-full-width" />
                  </a>
                </div>

                <div class="project-caption">
                  <b>{{ project.title }}</b> <br/>
                  {{ project.subtitle }}
                </div>

            </div>
          </div>

        {% if index_modulo == 2 %}
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>

</div>
-->
```